@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}

.inlineQ::-webkit-scrollbar {
  width: 2px;
  display: none;
}

.btn {
  background-color: rgb(59 130 246 / 1.5);
  color: #fff;
}

.tab-active {
  background: #60a5fa;
  color: #fff;
}

.table tr.active,
.table tr.active:nth-child(even),
.table-zebra tbody tr:nth-child(even) {
  background-color: #b2d5ff;
}

.reports {
  font-family: "Noto Nastaliq Urdu", serif;
}

.btn:hover {
  color: #3b82f6;
  border: 1px solid #3b82f6;
}
