@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: urdu;
  src: url("../public/fonts/font.ttf");
}

.containerPrint {
  width: 210mm;
  font-family: urdu;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
/* Track */
/* General scrollbar track styling */
::-webkit-scrollbar-track {
  background: #fff;
}

/* General scrollbar thumb styling */
::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 5px;
}

/* Thumb styling on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

/* Vertical scrollbar */
.inlineQ::-webkit-scrollbar {
  width: 2px;
}

/* Hide the vertical scrollbar */
.inlineQ::-webkit-scrollbar:vertical {
  display: none;
}

/* Horizontal scrollbar */
.inlineQ::-webkit-scrollbar:horizontal {
  height: 6px; /* Change this value to adjust the height of the scrollbar thumb */
}

/* Horizontal scrollbar thumb */
.inlineQ::-webkit-scrollbar-thumb:horizontal {
  background: #ddd;
  border-radius: 5px;
}

/* Horizontal scrollbar thumb on hover */
.inlineQ::-webkit-scrollbar-thumb:horizontal:hover {
  background: #ccc;
}

.btn {
  background-color: rgb(59 130 246 / 1.5);
  color: #fff;
}

.tab-active {
  background: #60a5fa;
  color: #fff;
}

.table tr.active,
.table tr.active:nth-child(even),
.table-zebra tbody tr:nth-child(even) {
  background-color: #b2d5ff;
}

.reports {
  font-family: "Noto Nastaliq Urdu", serif;
}

.btn:hover {
  color: #3b82f6;
  border: 1px solid #3b82f6;
  background-color: #fff;
}
